@using BSDSalzburg2024.Application.Models

@inject IStringLocalizer<CountryName> localizer

<span>@* @this.Model.FlagEmoji  *@@this.localizer.GetString(this.Model.IsoCode)</span>

@code {
    [Parameter]
    public Country Model { get; set; }
}
