@using BSDSalzburg2024.Application.Models
@using BSDSalzburg2024.Application.Locations.Commands.CreateLocationCommand
@using BSDSalzburg2024.WebUI.Shared
@using FluentValidation
@using Microsoft.AspNetCore.Components.Forms

@inject IMediator mediator
@inject IStringLocalizer<Create> localizer

<EditForm @ref="this.form" Model="this.command" OnValidSubmit="this.Submit" FormName="LocationCreateForm">
    <FluentValidationValidator @ref="this.validator" TModel="CreateLocationCommand" />
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">@this.localizer["Title"]</p>
            <button class="delete" aria-label="close" @onclick="() => this.ActiveChanged.InvokeAsync(false)"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">@this.localizer["Id"]</label>
                <TemplatedValidationMessage For="() => this.command.Id" BaseClass="input" Localizer="this.localizer">
                    <InputTemplate Context="inputClasses">
                        <InputText class="@(inputClasses)" @bind-Value="this.command.Id" />
                    </InputTemplate>
                </TemplatedValidationMessage>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success" type="submit">@this.localizer["Submit"]</button>
            </div>
        </footer>
    </div>
</EditForm>

@code {
    private bool active;
    private CreateLocationCommand command;
    private EditForm form;
    private FluentValidationValidator<CreateLocationCommand> validator;

    [Parameter]
    public EventCallback<bool> ActiveChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.command = new CreateLocationCommand();

        await base.OnInitializedAsync();
    }

    private async Task Submit()
    {
        var valid = this.form.EditContext.Validate();
        if (valid)
        {
            try
            {
                await this.mediator.Send(this.command);
                await this.ActiveChanged.InvokeAsync(false);
            }
            catch (ValidationException exception)
            {
                this.validator.PopulateErrors(exception.Errors);
            }
        }
    }
}
