@page "/"

<PageTitle>Język wzorców</PageTitle>

<section class="section">
    <h1 class="title">
        Język wzorców
    </h1>
    <p class="subtitle">
        Christopher Alexander<br />
        Sara Ishikawa<br />
        Murray Silverstein<br />
        <small>with</small><br />
        Max Jacobson<br />
        Ingrid Fiksdahl-King<br />
        Shlomo Angel
    </p>
</section>
<hr/>
<section class="section">
    <div class="block">
        <p><a href="/about" class="has-text-info">O TEJ STRONIE</a></p>
    </div>
    <div class="block">
        <p><a href="/language" class="has-text-info">JĘZYK WZORCÓW</a></p>
        <p><a href="/summary" class="has-text-info">STRESZCZENIE JĘZYKA WZORCÓW</a></p>
        <p><a href="/choosing" class="has-text-info">WYBIERANIE JĘZYKA DLA TWOJEGO PROJEKTU</a></p>
        <p><a href="/potery" class="has-text-info">POEZJA JĘZYKA WZORCÓW</a></p>
    </div>
    <div class="block">
        <p><a href="/towns" class="has-text-info">MIASTA</a></p>
        <p>Wzorce 1-94</p>
    </div>
    <div class="block">
        <p><a href="/buildings" class="has-text-info">BUDYNKI</a></p>
        <p>Wzorce 95-204</p>
    </div>
    <div class="block">
        <p><a href="/constructions" class="has-text-info">KONSTRUKCJA</a></p>
        <p>Wzorce 205-253</p>
    </div>
    <div class="block">
        <p><a href="/aknowledgements" class="has-text-info">PODZIĘKOWANIA</a></p>
        <p><a href="/picture_sources" class="has-text-info">ŹRÓDŁA FOTOGRAFII</a></p>
    </div>
</section>