@page "/municipalities"
@using BSDSalzburg2024.Application.Municipalities.Queries.GetMunicipalityListQuery
@using MediatR

@inject IMediator mediator

<PageTitle>Municipalities</PageTitle>

@if (this.entities is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in this.entities)
            {
                <tr>
                    <td>@entity.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MunicipalityListItem> entities;

    protected override async Task OnInitializedAsync()
    {
        var request = new GetMunicipalityListQuery { PageIndex = 0, PageSize = 10 };

        this.entities = await this.mediator.Send(request);

        await base.OnInitializedAsync();
    }
}