<div class="icon-text">
    @if (this.Model)
    {
        <span class="icon has-text-success">
            <i class="fas fa-check"></i>
        </span>
    }
    else
    {
        <span class="icon has-text-danger">
            <i class="fas fa-times"></i>
        </span>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public bool Model { get; set; }
}
